In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [3]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [4]:
df[df["sex"] == "Male"]["age"].mean()

np.float64(39.43354749885268)

### What is the percentage of people who have a Bachelor's degree?

In [5]:
total = len(df)
bachelors = len(df[df["education"] == "Bachelors"])
percentage = (bachelors/total) * 100
percentage

16.44605509658794

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [6]:
# advanced education categories
education = ["Bachelors", "Masters", "Doctorate"]

# filter people with advanced education
adv_edu_df = df[df["education"].isin(education)]

# number of people with advanced education
total_adv = len(adv_edu_df)

# number of people with advanced education making >50K
rich_adv = len(adv_edu_df[adv_edu_df["salary"] == ">50K"])

percentage = (rich_adv / total_adv) * 100

print(percentage)

46.535843011613935

In [7]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

What percentage of people without advanced education make more than 50K?

In [8]:
# advanced education categories
education = ['Bachelors', 'HS-grad', '11th', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th']

# filter people with advanced education
edu_df = df[df["education"].isin(education)]

# number of people with advanced education
total_adv = len(edu_df)

# number of people with advanced education making >50K
rich_adv = len(edu_df[edu_df["salary"] == ">50K"])

percentage = (rich_adv / total_adv) * 100

print(percentage)

21.61380443714051

### What is the minimum number of hours a person works per week?

In [9]:
min_hours = df['hours-per-week'].min()
min_hours

np.int64(1)

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [10]:
# filter rows where hours-per-week == min_hours
workers_min_hours = df[df["hours-per-week"] == min_hours]

# number of people earning >50K among them
number = len(workers_min_hours[workers_min_hours["salary"] == ">50K"])

# total number of people working min_hours
total = len(workers_min_hours)

percentage = (number / total) * 100 if total > 0 else 0
print("Percentage:", percentage)

Percentage: 10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [11]:
counts = df.groupby("native-country")["salary"].size()
rich_counts = df[df["salary"] == ">50K"].groupby("native-country")["salary"].size()

percentages = (rich_counts / counts * 100).fillna(0)

highest_country = percentages.idxmax()
highest_percentage = percentages.max()

print(highest_country, highest_percentage)

Iran 41.86046511627907

### Identify the most popular occupation for those who earn >50K in India.

In [12]:
# filter for India and >50K
india_rich = df[(df["native-country"] == "India") & (df["salary"] == ">50K")]

# find most common occupation
most_popular_occupation = india_rich["occupation"].value_counts().idxmax()

print("Most popular occupation in India for >50K earners:", most_popular_occupation)

Most popular occupation in India for >50K earners: Prof-specialty